$font-stack: Helvetica, sans-serif;
// $primary-color: #000;

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-stack;
    width: 100%;
    line-height: 1.6;
    overflow-x: hidden;
}

.navbar {
    top: 0;
    background-color: #fff;
    color: #333;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.signature a {
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00bcd4;
}

.page-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

// index.html

.index-content {
    display: flex;
    flex-direction: column;
}