$font-stack: Helvetica, sans-serif;
$primary-color: #000;

.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

.nav-links {
    display: flex;
    list-style: none;
}