<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>pacman | Generalist</title>
  <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") | safe }}" />
</head>

<body class="min-h-screen bg-background text-foreground" style="font-family: Helvetica, sans-serif;">
  <div class="Root">

    <header class="sticky top-0 z-50 w-full">
      <div class="container max-w-7xl mx-auto px-6">
        <nav class="flex h-16 items-center justify-between">
          <a class="flex items-center space-x-2" href="{{ get_url(path='@/_index.md') }}">pacman</a>
          <div class="hidden md:flex items-center space-x-8">
            <a href="{{ get_url(path='@/blog/_index.md') }}" class="relative text-md font-medium text-muted-foreground transition-colors a-hover group">Blog</a>
            <a href="{{ get_url(path='@/project/_index.md') }}" class="relative text-md font-medium text-muted-foreground transition-colors a-hover group">Projects</a>
            <a href="{{ get_url(path='@/research/_index.md') }}" class="relative text-md font-medium text-muted-foreground transition-colors a-hover group">Research</a>
            <a href="#" class="relative text-md font-medium text-muted-foreground transition-colors a-hover group">Resume</a>
          </div>
        </nav>
      </div>
    </header>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      {% block content %} {% endblock %}
    </div>
  </div>

</body>

</html>