<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ike</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>

<body>
  <nav class="navbar">
    <div class="container"> 
        <ul class="nav-links">
          <li><a href="{{ get_url(path='@/_index.md') }}">Home</a></li>
          <li><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
          <li><a href="{{ get_url(path='@/project/_index.md') }}">Projects</a></li>
          <li><a href="{{ get_url(path='@/research/_index.md') }}">Research</a></li>
        </ul>
    </div>
  </nav>

  <section class="section">
    <div class="container2">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>