<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>pacman | Generalist</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>

<body>
  <nav class="navbar">
    <a class="signature" href="{{ get_url(path='@/_index.md') }}">pacman</a>
    <div class="nav-links">
      <li><a href="{{ get_url(path='@/blog/_index.md') }}" class="text-dec-line">Blog</a></li>
      <li><a href="{{ get_url(path='@/project/_index.md') }}" class="text-dec-line">Projects</a></li>
      <li><a href="{{ get_url(path='@/research/_index.md') }}" class="text-dec-line">Research</a></li>
      <li><a href="https://read.cv/ikeasamoahansah" class="text-dec-line">Resume</a></li>
    </ul>
  </nav>

  <main>
    {% block content %} {% endblock %}
  </main>
</body>

</html>