{% extends "base.html" %}

{% block content %}
<div class="index-content">

  <div class="user-name">
    <h1>
      ~pacman
    </h1>
    <div class="job">
      <p>Machine Learning Engineer | Generalist</p>
    </div>
  </div>

  <div class="about">
    <p>I am currently an undergraduate at the <a href="https://knust.edu.gh">Kwame Nkrumah University of Science and Technology</a></p>
    <p>I have experience in building and deploying machine learning models. With a particular interest in classical ML</p>
  </div>
</div>

{% endblock content %}