{% extends "base.html" %}

{% block content %}
<div class="index-content">

  <div class="user-name">
    <h1>
      ~pacman
    </h1>
    <div class="job">
      <p>Machine Learning Engineer | Generalist</p>
    </div>
    <div class="link-buttons">
      <a href="{{ get_url(path='@/blog/_index.md')}}" class="blog-button">Read Blog 
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
      </a>
      <a href="{{get_url(path='@/project/_index.md')}}" class="project-button">View projects</a>
    </div>
  </div>

  <div class="about">
    <p>I am currently an undergraduate at the <a href="https://knust.edu.gh">Kwame Nkrumah University of Science and Technology</a></p>
    <p>I have experience in building and deploying machine learning models. With a particular interest in classical ML</p>
  </div>
</div>

{% endblock content %}