{% extends "base.html" %}

{% block content %}
<div class="p-10">
  <div class="mb-5">
    <h3 class="text-3xl text-gray-500 font-bold">{{ section.title }}</h1>  
  </div>
  <div class="border border-(--border) mb-5 bg-(--tertiary-color) p-8 rounded-md">
    <a href="https://onlinelibrary.wiley.com/doi/10.1002/eng2.70320" class="flex items-center text-gray-900 transition-colors a-hover">Attn‐DeCGAN</a>
    <p class="text-(--text-muted)">A Diversity‐Enhanced CycleGAN With Attention for High‐Fidelity Medical Image Translation</p>
    <!-- <a href="https://onlinelibrary.wiley.com/doi/10.1002/eng2.70320" class="publication-link">Read</a> -->
  </div>
</div>
{% endblock content %}