@import "tailwindcss";

@layer base {
    *, ::after, ::before, ::backdrop, ::file-selector-button {
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0;
      border: 0 solid;
    }
}
:root {
    --font-stack: Helvetica, sans-serif;
    --primary-color: #000;
    --secondary-color: #00bcd4;
    --tertiary-color: #fff;
    --text-muted: #808080;
    --border: #e5e7eb;
}

.a-hover:hover {
    color: var(--secondary-color);
}

.text-sec {
    color: var(--secondary-color)
}